@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  padding: 8vh 0;
  
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  a {
  font-size: calc(10px + 16 * (100vw / 1280));
  text-decoration: none;
  padding: 0 1em;
  color: #000;
  }
}

.container {
  margin: auto;
  margin-bottom: 4rem;
  background: #fff;
  height: 75vh;
  width: 90vw;
  border-radius: 35px;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(71, 97, 116, 0.14);
  -moz-box-shadow: 0px 0px 16px 3px rgba(71, 97, 116, 0.14);
  box-shadow: 0px 0px 16px 3px rgba(71, 97, 116, 0.14);
}